{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - ADAPLE</title>
    <title>Ambiente Digital de Aprendizagem de Portugues como Lingua Estrangeira</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   
</head>

<body>
   <!-- <div class="container container-fluid container-inverse">-->
        <div class="navbar navbar-default navbar-static-top" style="margin-left: 2%; margin-right:2%">
            <div class="navbar-header">
                <a href="{% url 'inicio' %}" class="navbar-brand">ADAPLE</a>
            </div>
            <div class="navbar-collapse collapse" style="padding-left:2%;padding-right:2%;">     
                {% include 'core/loginpartial.html' %}
            </div>
        </div>
  <!--  </div> -->



    <div class="content container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>

</html>