{% extends 'core/base.html' %} {%load static%} {% block content %} {% load bootstrap %}



<form method="POST">
    {% csrf_token %}
    <div class="form-group">

        <!-- <label>{{field.label_tag}}</label> {{field}}
       -->
        {{ form|bootstrap }}

    </div>


<div class="pull-right">
    <button class="save btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-danger" type="submit" value="Cancel" formnovalidate>Cancelar</button>

</div>

</form>









{% endblock %}


</form>