{% extends 'core/base.html' %} {% block content %} {% load embed_video_tags %} {% load bootstrap %}
<div class="container">

    <div class="row" style="border: 1px">
        <div class="panel panel-info">
            <div class="panel-heading"> Informações sobre a EDP</div>
            <div class="panel-body">



                <p>
                    <b>Nome:</b>{{edp}} </p>
                <p>
                    <b>Objetivo:</b>{{edp.objetivo_pedagogigo}} </p>
                <p>
                    <b>Metodologia:</b>{{edp.metodologia}} </p>
                <p>
                    <b>Atividades:</b>{{edp.atividades}} </p>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading"> Recursos de Apresentação</div>
            <div class="panel-body">

                <b> Texto:</b> {{recursos.texto}}

                <p></p>
                {% video recursos.video as my_video %}
                <div>
                    <b>Vídeo:</b>
                    <br>{% video my_video 'tiny' %} </div>

                {% endvideo %}
            </div>
        </div>
        <div class="panel panel-success">

            <div class="panel-heading"> Recursos de Resposta</div>
            <div class="panel-body">

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">

                        {{ form|bootstrap }}

                    </div>
                    <div class="pull-right">

                        <button class="save btn btn-primary" type="submit">Salvar Resposta</button>
                        <button class="btn btn-danger" type="submit" value="Cancel" formnovalidate>Cancelar</button>

                    </div>
                    <a href="{% url 'inicio' %}">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-home"></span> Início</button>
                    </a>


                </form>
            </div>
        </div>
    </div>





</div>
</div>

</div>
{% endblock content %}