{% extends 'core/base.html' %} {% block content %} {% load embed_video_tags %} {% load bootstrap %}
<div class="container">

    <div class="row" style="border: 1px">
        <p>Nome: {{edp}} </p>
        <b> Texto:</b> {{recursos.texto}}
        
        <p></p>
        {% video recursos.video as my_video %}
        <div>
            <b>Vídeo:</b>
            <br>{% video my_video 'tiny' %} </div>

        {% endvideo %}

       

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
        
                {{ form|bootstrap }}
        
            </div>
            <div class="pull-right">
        
            <button class="save btn btn-primary" type="submit">Salvar Resposta</button>
            <button class="btn btn-danger" type="submit" value="Cancel" formnovalidate>Cancelar</button>
        
        </div>
           <a href="{% url 'inicio' %}"><button class="btn btn-success"><span class="glyphicon glyphicon-home"></span> Início</button></a>

        
        </form>

    </div>

 



</div>
</div>

</div>
{% endblock content %}