{% extends 'core/base.html' %} {% block content %} {% load embed_video_tags %}
<div class="container">

    <div class="row" style="border: 1px">
        <p>
            <b>Nome:</b>
            {{edp}} </p>
        <p>
            <b>Objetivo:</b>
            {{edp.objetivo_pedagogigo}}</p>
       <p> <b>Habilidades: </b>
        {% for h in habilidades%} {{h}} - {% endfor %}
        </p><p>
            <b>Atividades:</b>
            {{edp.atividades}}</p>
        <p>
            <b>Metodologia:</b>
            {{edp.metodologia}}</p>
    </div>

    <h3>Recursos</h3>
    <div class="row" style="border: 1px">

        {% video recursos.video as my_video %}
        <div>
            <b>Vídeo:</b>
            <br>{% video my_video 'tiny' %} </div>

        {% endvideo %}

        <b> Texto:</b> {{recursos.texto}}





    </div>



</div>


</div>

</div>
{% endblock content %}