{% extends 'core/base.html' %} {% block content %} {% load embed_video_tags %}
<div class="container">

    <div class="row" style="border: 1px">
        <p> Nome:
        {{edp}} </p>
       <p></p> Objetivo:
         {{edp.objetivo_pedagogigo}}</p>
            
        {{edp.habilidades}}
        
    </div>

    <div class="row" style="border: 1px">
    
       {% video recursos.video as my_video %}
       <div>
           <br>{% video my_video 'tiny' %} </div>

       {% endvideo %}
      
       {{recursos.texto}}
       
       {{recursos.player_audio}}
  


    </div>


</div>
<a href="{% url 'edp_nova' %}"><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nova EDP</button></a>

</div>

</div>
{% endblock content %}